table.bordered-table th,
td {
    border: 2px solid rgb(8, 3, 51);
    padding: 4px;
}

table.bordered-table {
    border-collapse: collapse;
}


table.bordered-table {
    border-collapse:collapse; 
    width: 65%; 
    text-align: left;
}

table.unbordered-table tr,
td {
    padding: 10px;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: none
}
